@import "react-slideshow-image/dist/styles.css";
.sound {
  z-index: 999;
  cursor: pointer;
}

.player-btn img {
  width: 30px;
  height: 30px;
}

.couple-bg {
  /* background-image: url('./bg-2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; */
}

.pelli-melam {
  opacity: 0.4;
}

.couple-bg::after {
  background: url("./bg-2.png");
  content: "";
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.title h1 {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  font-style: normal;
  font-size: 4rem;
  margin: 0 0 20px 0;

  color: #674ea7;
}

.title h2 {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  font-style: normal;
  margin: 0;
  padding: 0;
  font-size: 24px;
  color: #e25c67;
  line-height: 1;
}

.dance-med {
  font-family: "Dancing Script", cursive;
  font-weight: bolder;
  font-style: normal;
  font-size: 32px;
  color: #674ea7;
  margin: 16px;
  text-align: center;
}

.title h3 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 24px;
  color: #674ea7;
  margin-top: 5px;
}

.title p {
  color: #564861;
  margin: 20px 0 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 16px;
}

.t-border {
  border: 3px solid #674ea7;
  color: #674ea7 !important;
  border-radius: 10px;
}

* {
  font-family: "Arvo", serif;
}

body {
  overflow-x: hidden;
}

#time {
  background-color: #eee;
}

.venue {
  width: auto;
  height: auto;
  background-color: #674ea7;
  border-radius: 16px;
  text-align: center;
  color: #fff;
  padding: 8px;
  margin-right: 8px;
}

.venue a {
  /* text-decoration: none; */
  color: #fff;
}

.block {
  width: 180px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.days {
  background: linear-gradient(90deg, #b33a46, #9b313c);
}

.hours {
  background: linear-gradient(90deg, #a7c3cd, #90a9b2);
}

.minutes {
  background-color: #874562;
}

.seconds {
  background-color: #145689;
}

.date {
  color: #874562;
  font-weight: 900;
}

.place {
  color: #874562;
  font-weight: 900;
}

.footer {
  color: #564861;
  text-align: center;
  font-size: 16px;
  /* margin: 24px; */
}

.phone {
  color: #874562;
}

.end-msg {
  width: auto;
  height: auto;
  padding: 12px;
  background: linear-gradient(90deg, #b33a46, #9b313c);
  border-radius: 20px;
  font-size: 14px;
  color: #fff;
  font-size: 24px;
}

.a {
  text-decoration: none;
}

.happiness {
  color: #874562;
  /* font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 24px; */
}

.music {
  /* display: none; */
}

.slideIn {
  animation: slideIn 0.5s forwards;
  -webkit-animation: slideIn 0.5s forwards;
}
.pulse2 {
  animation-name: pulse2;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse2 {
  0% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}
.pallaki {
  margin-top: 5%;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 500px) {
  .title h1 {
    font-size: 3rem;
    margin: 10px 0;
  }

  .pallaki {
    margin-top: 20%;
  }
}
@media screen and (max-width: 768px) {
  .pallaki {
    margin-top: 15%;
  }
}
#typewriter {
  font-size: 2rem;
  font-family: "Dancing Script", cursive;
}
#typewriter i {
  color: red;
}

.ganesh-icon {
  position: absolute;
  width: 50px;
  margin-left: auto;
  left: 45% !important;
}

.heart-shape {
  position: relative;
  width: 200px;
  height: 200px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: rgba(250, 184, 66, 1);
}
.heart-shape:before,
.heart-shape:after {
  position: absolute;
  width: 200px;
  height: 200px;
  content: "";
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(250, 184, 66, 1);
}
.heart-shape:before {
  bottom: 0px;
  left: -100px;
}
.heart-shape:after {
  top: -100px;
  right: 0px;
}
.preview-img {
  width: 70%;
  border-radius: 5%;
  cursor: pointer;
}

.slide-container img {
  /* height: 400px; */
  width: auto;
}
.modal-img {
  max-height: 50vh;
}

.gallery {
  position: absolute;
  right: 0;
  bottom: 20px;
  /* width: 50px; */
  height: 40px;
}

@media (max-width: 425px) {
  .modal-img {
    max-height: 25vh;
  }
}
@media (max-width: 768px) {
  .modal-img {
    max-height: 30vh;
  }
}
